In [158]:
!pip install shapely
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import FileLink

Requirement already satisfied: shapely in c:\users\houxu\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: numpy>=1.14 in c:\users\houxu\anaconda3\lib\site-packages (from shapely) (1.21.5)

In [159]:
division_level_recommendations = pd.read_csv('../data/division_level_recommendations.csv')

In [160]:
division_level_recommendations

,PRIMARY_STOCKNO,shoe_rec1,shoe_rec2,shoe_rec3,shoe_pctsaleswith1,shoe_pctsaleswith2,shoe_pctsaleswith3,shoe_rec1_count,shoe_rec2_count,shoe_rec3_count,...,access_rec1,access_rec2,access_rec3,access_pctsaleswith1,access_pctsaleswith2,access_pctsaleswith3,access_rec1_count,access_rec2_count,access_rec3_count,access_rec_level
0,99497860,1497860.0,99497858.0,99498066.0,8.383234,1.916168,1.676647,70.0,16.0,14.0,...,1829.0,3875.0,1018.0,6.007752,4.651163,4.263566,31.0,24.0,22.0,division
1,497403,498066.0,497419.0,398564.0,10.071014,2.969658,2.743706,312.0,92.0,85.0,...,403.0,1639.0,402.0,8.912739,8.586094,4.713019,191.0,184.0,101.0,division
2,1497835,1497800.0,1497878.0,1497721.0,2.987698,2.636204,2.284710,17.0,15.0,13.0,...,3885.0,1639.0,3166.0,6.278027,4.932735,NaN,14.0,11.0,8.0,division
3,398564,398913.0,398566.0,1398564.0,11.056342,3.695405,3.507200,3701.0,1237.0,1174.0,...,434.0,401.0,1639.0,12.017491,8.519206,6.546701,3820.0,2708.0,2081.0,division
4,1399645,1398564.0,1398566.0,1398329.0,5.464481,4.371585,4.371585,40.0,32.0,32.0,...,1830.0,1639.0,3764.0,7.795100,2.672606,2.449889,35.0,12.0,11.0,division
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2879,99521194,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1
2880,399921,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2881,1480927,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2882,1479840,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2883,1480969,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,NaN,NaN,NaN,-1.0,-1.0,-1.0,-1

In [161]:
division_level_recommendations = division_level_recommendations[~(division_level_recommendations[['shoe_rec1', 'shoe_rec2', 'shoe_rec3']] == -1).all(axis=1)]
division_level_recommendations

,PRIMARY_STOCKNO,shoe_rec1,shoe_rec2,shoe_rec3,shoe_pctsaleswith1,shoe_pctsaleswith2,shoe_pctsaleswith3,shoe_rec1_count,shoe_rec2_count,shoe_rec3_count,...,access_rec1,access_rec2,access_rec3,access_pctsaleswith1,access_pctsaleswith2,access_pctsaleswith3,access_rec1_count,access_rec2_count,access_rec3_count,access_rec_level
0,99497860,1497860.0,99497858.0,99498066.0,8.383234,1.916168,1.676647,70.0,16.0,14.0,...,1829.0,3875.0,1018.0,6.007752,4.651163,4.263566,31.0,24.0,22.0,division
1,497403,498066.0,497419.0,398564.0,10.071014,2.969658,2.743706,312.0,92.0,85.0,...,403.0,1639.0,402.0,8.912739,8.586094,4.713019,191.0,184.0,101.0,division
2,1497835,1497800.0,1497878.0,1497721.0,2.987698,2.636204,2.284710,17.0,15.0,13.0,...,3885.0,1639.0,3166.0,6.278027,4.932735,NaN,14.0,11.0,8.0,division
3,398564,398913.0,398566.0,1398564.0,11.056342,3.695405,3.507200,3701.0,1237.0,1174.0,...,434.0,401.0,1639.0,12.017491,8.519206,6.546701,3820.0,2708.0,2081.0,division
4,1399645,1398564.0,1398566.0,1398329.0,5.464481,4.371585,4.371585,40.0,32.0,32.0,...,1830.0,1639.0,3764.0,7.795100,2.672606,2.449889,35.0,12.0,11.0,division
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839,1794491,99794491.0,1794489.0,1794478.0,6.250000,6.250000,3.906250,8.0,8.0,5.0,...,3885.0,3893.0,7945.0,6.106870,5.343511,5.343511,8.0,7.0,7.0,division
2840,99794491,1794491.0,99794472.0,99794486.0,6.349206,6.349206,3.174603,8.0,8.0,4.0,...,3884.0,3876.0,3554.0,9.708738,6.796117,6.796117,10.0,7.0,7.0,division
2842,99389055,1389055.0,99497878.0,99398711.0,4.123711,3.608247,3.608247,8.0,7.0,7.0,...,3988.0,3876.0,3987.0,9.202454,6.748466,4.907975,15.0,11.0,8.0,division
2844,99389051,1389051.0,99401805.0,99398711.0,8.641975,6.172840,3.703704,7.0,5.0,3.0,...,3988.0,1820.0,1830.0,8.474576,8.474576,5.084746,5.0,5.0,3.0,division
2850,99401719,99437036.0,1401765.0,99436599.0,7.368421,5.263158,5.263158,7.0,5.0,5.0,...,3875.0,1018.0,1003.0,9.459459,9.459459,6.756757,7.0,7.0,5.0,division

In [162]:
division_level_recommendations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655 entries, 0 to 2850
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PRIMARY_STOCKNO       1655 non-null   int64
 1   shoe_rec1             1655 non-null   float64
 2   shoe_rec2             1655 non-null   float64
 3   shoe_rec3             1655 non-null   float64
 4   shoe_pctsaleswith1    1647 non-null   float64
 5   shoe_pctsaleswith2    1617 non-null   float64
 6   shoe_pctsaleswith3    1453 non-null   float64
 7   shoe_rec1_count       1655 non-null   float64
 8   shoe_rec2_count       1655 non-null   float64
 9   shoe_rec3_count       1655 non-null   float64
 10  shoe_rec_level        1655 non-null   object
 11  access_rec1           1654 non-null   float64
 12  access_rec2           1654 non-null   float64
 13  access_rec3           1654 non-null   float64
 14  access_pctsaleswith1  1562 non-null   float64
 15  access_pctsaleswith2  1536 non-null   float64
 16  access_pctsaleswith3  1426 non-null   float64
 17  access_rec1_count     1654 non-null   float64
 18  access_rec2_count     1654 non-null   float64
 19  access_rec3_count     1654 non-null   float64
 20  access_rec_level      1654 non-null   object
dtypes: float64(18), int64(1), object(2)
memory usage: 284.5+ KB

In [163]:
division_level_recommendations['shoe_rec1'] = division_level_recommendations['shoe_rec1'].astype(int)

C:\Users\houxu\AppData\Local\Temp\ipykernel_27856\2232921486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  division_level_recommendations['shoe_rec1'] = division_level_recommendations['shoe_rec1'].astype(int)

In [164]:
division_level_recommendations['shoe_rec2'] = division_level_recommendations['shoe_rec2'].astype(int)

C:\Users\houxu\AppData\Local\Temp\ipykernel_27856\2336028012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  division_level_recommendations['shoe_rec2'] = division_level_recommendations['shoe_rec2'].astype(int)

In [107]:
division_level_recommendations['shoe_rec3'] = division_level_recommendations['shoe_rec3'].astype(int)
division_level_recommendations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884 entries, 0 to 2883
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PRIMARY_STOCKNO       2884 non-null   int64
 1   shoe_rec1             2884 non-null   int32
 2   shoe_rec2             2884 non-null   int32
 3   shoe_rec3             2884 non-null   int32
 4   shoe_pctsaleswith1    1647 non-null   float64
 5   shoe_pctsaleswith2    1617 non-null   float64
 6   shoe_pctsaleswith3    1453 non-null   float64
 7   shoe_rec1_count       2884 non-null   float64
 8   shoe_rec2_count       2884 non-null   float64
 9   shoe_rec3_count       2884 non-null   float64
 10  shoe_rec_level        2884 non-null   object
 11  access_rec1           2577 non-null   float64
 12  access_rec2           2577 non-null   float64
 13  access_rec3           2577 non-null   float64
 14  access_pctsaleswith1  1689 non-null   float64
 15  access_pctsaleswith2  1657 non-null   float64
 16  access_pctsaleswith3  1526 non-null   float64
 17  access_rec1_count     2577 non-null   float64
 18  access_rec2_count     2577 non-null   float64
 19  access_rec3_count     2577 non-null   float64
 20  access_rec_level      2577 non-null   object
dtypes: float64(15), int32(3), int64(1), object(2)
memory usage: 439.5+ KB

#### we cannot convert the accessories recommendations or counts to ints, pulls error

In [108]:
shoe_recs = pd.read_csv('../data/shoerecs.csv')
shoe_recs

,district,primary_stockno,shoe1,level1,pct1,shoe2,level2,pct2,shoe3,level3,pct3
0,15,399773,398913,district,10.465116,399772,district,6.976744,398572,district,4.651163
1,15,480990,481000,state,8.256881,481008,state,7.339450,480992,state,7.339450
2,15,398572,399772,district,15.384615,398562,district,12.820513,398732,district,8.547009
3,15,398274,398572,district,14.814815,398562,district,11.111111,398231,district,7.407407
4,15,1581707,1581705,div,6.144465,1581706,div,4.455910,896514,div,3.705441
...,...,...,...,...,...,...,...,...,...,...,...
112473,36,1794491,1794489,div,6.250000,99794491,div,6.250000,1794478,div,3.906250
112474,36,99794491,99794472,div,6.349206,1794491,div,6.349206,99794486,div,3.174603
112475,36,99389051,1389051,div,8.641975,99401805,div,6.172840,99398711,div,3.703704
112476,36,99401719,99437036,div,7.368421,1401765,div,5.263158,99436599,div,5.263158
112477,36,382061,382105,div,30.434783,382041,div,21.739130,382092,div,17.391304

In [109]:
all_shoes_images = pd.read_csv('../data/all_shoes_images.csv')
all_shoes_images.head(3)

,Unnamed: 0,shoe_name,stock_number,image,STOCKNO_x,STYLE_DESCR_x,STOCKNO_y,STYLE_DESCR_y
0,0,Crocs Classic Glitzy Clog - Vanilla,521261,https://images.journeys.com/images/products/1_...,521261,*CLSC GLITZY VANILLA,521261,*CLSC GLITZY VANILLA
1,1,Crocs Classic Glitzy Clog - Flamingo,521262,https://images.journeys.com/images/products/1_...,521262,*CLSC GLITZY LT PINK,521262,*CLSC GLITZY LT PINK
2,2,Vans Knu Skool Skate Shoe - Black / True White,497973,https://images.journeys.com/images/products/1_...,497973,KNU SKOOL BLACK/WHITE,497973,KNU SKOOL BLACK/WHITE

In [110]:
all_shoes_images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2981 non-null   int64
 1   shoe_name      2981 non-null   object
 2   stock_number   2981 non-null   int64
 3   image          2981 non-null   object
 4   STOCKNO_x      2981 non-null   int64
 5   STYLE_DESCR_x  2981 non-null   object
 6   STOCKNO_y      2981 non-null   int64
 7   STYLE_DESCR_y  2981 non-null   object
dtypes: int64(4), object(4)
memory usage: 186.4+ KB

In [111]:
shoe_image_sub = all_shoes_images[['shoe_name', 'stock_number', 
                                'image']]
shoe_image_sub.head(3)

,shoe_name,stock_number,image
0,Crocs Classic Glitzy Clog - Vanilla,521261,https://images.journeys.com/images/products/1_...
1,Crocs Classic Glitzy Clog - Flamingo,521262,https://images.journeys.com/images/products/1_...
2,Vans Knu Skool Skate Shoe - Black / True White,497973,https://images.journeys.com/images/products/1_...

In [119]:
accessories_images = pd.read_csv('../data/products_accessories_images.csv')
accessories_images

,Unnamed: 0,accessories,stock_number,image
0,0,Crocs Jibbitz&trade; Hello Kitty&reg; Shoe Cha...,99470,https://images.journeys.com/images/products/1_...
1,1,Crocs Jibbitz&trade; Outer Space Shoe Charms 5...,8179,https://images.journeys.com/images/products/1_...
2,2,Crocs Jibbitz&trade; Teen Bro Shoe Charms 5 Pa...,9406,https://images.journeys.com/images/products/1_...
3,3,Crocs Jibbitz&trade; Super Mario Bros. Shoe Ch...,9402,https://images.journeys.com/images/products/1_...
4,4,Crocs Jibbitz&trade; Retro Vibe Shoe Charms 5 ...,99503,https://images.journeys.com/images/products/1_...
...,...,...,...,...
573,851,Main view of Hunter x Hunter Group Photo Tee -...,19142,https://images.journeys.com/images/products/1_...
574,855,Main view of Naruto Long Sleeve Tee - Black,48011,https://images.journeys.com/images/products/1_...
575,859,Main view of My Hero Academia Lounge Pants - B...,19042,https://images.journeys.com/images/products/1_...
576,861,Main view of Inyuasha Tee - Black,12266,https://images.journeys.com/images/products/1_...
577,862,Main view of Bleach Ichigo And Toshiro Tee - W...,50483,https://images.journeys.com/images/products/1_...

In [116]:
accessories_images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578 entries, 0 to 577
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    578 non-null    int64
 1   accessories   578 non-null    object
 2   stock_number  578 non-null    int64
 3   image         578 non-null    object
dtypes: int64(2), object(2)
memory usage: 18.2+ KB

In [124]:
accessory_image_sub = accessories_images[['stock_number', 
                                'image']]
accessory_image_sub

     stock_number                                              image
0           99470  https://images.journeys.com/images/products/1_...
1            8179  https://images.journeys.com/images/products/1_...
2            9406  https://images.journeys.com/images/products/1_...
3            9402  https://images.journeys.com/images/products/1_...
4           99503  https://images.journeys.com/images/products/1_...
..            ...                                                ...
573         19142  https://images.journeys.com/images/products/1_...
574         48011  https://images.journeys.com/images/products/1_...
575         19042  https://images.journeys.com/images/products/1_...
576         12266  https://images.journeys.com/images/products/1_...
577         50483  https://images.journeys.com/images/products/1_...

[578 rows x 2 columns]

division_level_recommendations_cleaned = division_level_recommendations.to_csv('../data/division_level_recommendations_cleaned.csv', index = False)